/* Responsive style for Mobile 576px  */
@media screen and (max-width: 576px) {
    .hero_area {
        padding: 0 10px;
      }
      main{
        padding: 0 10px ;
      }
      nav,
      .feature_container,
      .experience_container
      {
        flex-direction: column;
      }
      /* hero area  */
      .hero_text{
        padding-top: 20px;
      }
      /* feature area  */
      .feature_images {
        grid-template-columns:1fr;
      }
      .feature_container{
        padding: 0;
      }
      .feature_images{
        width: 100%;
      }
      .feature_text_area{
        width: 100%;
      }

      .experience_text_area, .experience_img{
        width: 100%;
    }
    .experience_img img{
        padding-left: 0px;
    }
    .ten_tear_badge{
        width: 100%;
        bottom: 0;
    }
     /* card area  */
     .card{
      margin-bottom: 20px;
     }

}

/* Responsive style for Tablet 768px  */
@media screen and (min-width: 576px) and (max-width: 768px) {
    .hero_area {
        padding: 0 10px;
      }
      main{
        padding: 0 10px ;
      }
      nav,
      .feature_container,
      .experience_container
      {
        flex-direction: column;
      }
      .hero_text{
        padding-top: 30px;
      }
      /* feature area  */
      .feature_images{
        width: 100%;
      }
      .feature_text_area{
        width: 100%;
      }
      
      .experience_text_area, .experience_img{
        width: 100%;
    }
}

