@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* ======== Default style ========= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Work Sans", sans-serif;
}
h1 {
  color: #131313;
  font-size: 4rem;
  font-weight: 700;
}
h2 {
  color: #131313;
  font-size: 2.85rem;
  font-weight: 700;
}
p {
  color: #727272;
  font-weight: 400;
  line-height: 26px;
  margin: 25px 0;
}
.primary_btn {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  border-radius: 8px;
  background: #ff900e;
  padding: 20px 25px;
  border: 0;
  /* margin: 30px 0; */
}

/* ============= Header area style ============= */
header {
  background: rgba(255, 144, 14, 0.1);
}
.hero_area {
  max-width: 1440px;
  margin: 0 auto;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav > ul {
  display: flex;
  gap: 25px;
}
ul li {
  list-style: none;
  color: #424242;
}
ul li a {
  text-decoration: none;
  color: #424242;
  font-size: 18px;
}
.hero_text {
  max-width: 868px;
  margin: 0 auto;
  padding-top: 100px;
  text-align: center;
}
.hero_img img{
    width: 100%;
    padding: 50px 0;
}