@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* ======== Default style ========= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Work Sans", sans-serif;
}
h1 {
  color: #131313;
  font-size: 4rem;
  font-weight: 700;
}
h2 {
  color: #131313;
  font-size: 2.85rem;
  font-weight: 700;
}
h4 {
  color: #131313;
  font-size: 20px;
  font-weight: 600;
}
p {
  color: #727272;
  font-weight: 400;
  line-height: 26px;
  margin: 25px 0;
}
.primary_btn {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  border-radius: 8px;
  background: #ff900e;
  padding: 20px 25px;
  border: 0;
  margin-top: 30px;
}
main {
  max-width: 1440px;
  margin: 0 auto;
}
img {
  width: 100%;
}
/* ============= Header area style ============= */
header {
  background: rgba(255, 144, 14, 0.1);
}
.hero_area {
  max-width: 1440px;
  margin: 0 auto;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav > ul {
  display: flex;
  gap: 25px;
}
ul li {
  list-style: none;
  color: #424242;
}
ul li a {
  text-decoration: none;
  color: #424242;
  font-size: 18px;
}
.hero_text {
  max-width: 868px;
  margin: 0 auto;
  padding-top: 100px;
  text-align: center;
}
.hero_img img {
  width: 100%;
  padding: 50px 0;
}

/* ======== feature area ========== */
.feature_container {
  margin-top: 85px;
  display: flex;
  gap: 70px;
  align-items: center;
  padding: 0 60px;
}
.feature_images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  width: 50%;
}
.feature_text_area {
  width: 50%;
}
.feature_text_area .text_gray {
  color: #727272;
  font-weight: 500;
}
.feature_text_area .text_black {
  color: #131313;
}
.feature_text_area .text_primary {
  color: #ff900e;
}

/* ============ ten year of experience ==========  */
.experience_container{
    display: flex;
    gap: 50px;
    align-items: center;
    margin: 130px 0;
}
.experience_text_area{
    width: 50%;
}
.experience_img{
    width: 50%;
}
.experience_img img{
    padding-left: 90px;
}
.experience_card {
  padding: 30px;
  margin: 20px 0;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}
.ten_tear_badge{
    width: 342px;
    padding: 30px 0px;
    border-radius: 8px;
    background-color: #ff900e;
    text-align: center;
    position: relative;
    bottom: 100px;
}
.ten_tear_badge h1, .ten_tear_badge p{
    margin: 0;
    color: #fff;
}
